<% if signed_in? %>
<%= form_with(model: hiragana, local: true) do |form| %>
  <% if hiragana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hiragana.errors.count, "error") %> prohibited this hiragana from being saved:</h2>

      <ul>
      <% hiragana.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :leccion %>
    <%= form.text_field :leccion %>
  </div>

  <div class="field">
    <%= form.label :explicacion %>
    <%= form.text_field :explicacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% else %>
  <h1>Necesita hacer login para acceder a esa dirección</h1>
<% end %>